@model IEnumerable<KTR.Models.Ingredients>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> @Html.DisplayNameFor(model => model.Recipe) Ingredients</h2>

<p>
    <a asp-action="Create">Add New Ingredient</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prep)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Recipe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 

{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prep)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Recipe.RecipeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IngredientId">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.IngredientId">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.IngredientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
