@model IEnumerable<KTR.Models.Ingredients>
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Authorization;
@inject UserManager<IdentityUser> userManager
@inject IEnumerable<KTR.Models.Recipes> match;
@inject IEnumerable<KTR.Models.Ingredients> match;



@using System.Collections.Generic;
@using System.Linq;
@using System.Text;
@using System.Threading;
@using KTR.Models




@{
    ViewData["Title"] = "Ingredients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="flextop"> @Html.DisplayNameFor(model => model.Recipe) Ingredients</h2>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.SavedRecipeId">Add New Ingredient</a>
</p>


<div>
    @*<h4>Ingredients</h4*@
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Amt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Unit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prep)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RecipeId)
                </th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @*@foreach (var item in Model)*@
            @foreach (var item in ViewBag.IngredientList as IEnumerable<KTR.Models.Ingredients>)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amt)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Unit)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Item)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Prep)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RecipeId)
                    </td>


                    <td>
                        @*<a asp-action="Details" asp-route-id="@item.RecipeId">Details</a> |*@
                        <a asp-action="Edit" asp-route-id="@item.IngredientId">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.IngredientId">Delete</a> 
                        @*<a asp-controller="Recipe" asp-action="Details" asp-route-id="@item.RecipeId">Back to Description</a>*@
                    </td>
                </tr>
                <tr>
                </tr>

            }
        </tbody>
        
    </table>
    <form>
        @*<input type="button" value="Go Back" onclick="history.back()" class="btn btn-success">*@
        <a class="btn btn-info" asp-controller="Recipes" asp-action="Details" asp-route-id="@ViewBag.SavedRecipeId">Back to List</a>

    </form>
</div>

