@model IEnumerable<KTR.Models.Preparation>

@{
    ViewData["Title"] = "Prep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Preparation</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Step)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Instr)*@ Instructions
            </th>
            @*<th>
             @Html.DisplayNameFor(model => model.Updated)
         </th>
        <th>
             @Html.DisplayNameFor(model => model.PRegId)
         </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Recipe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Step)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instr)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRegId)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Recipe.RecipeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrepId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrepId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrepId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
