@model IEnumerable<KTR.Models.Recipes>
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="flextop">Admin View - All Recipes</h2>

<p>
    <a asp-controller="Recipes" asp-action="Create">Create New Recipe</a> | <a asp-controller="Users" asp-action="Index">View Users </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecipeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servings)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)

        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servings)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdated)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CatName.CatName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.MainName.MainName)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.StatusId)*@
                    @Html.DisplayFor(modelItem => item.StatusName.StatusName)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.UserId)*@
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    | <a asp-action="Details" asp-route-id="@item.RecipeId">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.RecipeId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.RecipeId">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>

@*<a asp-controller= "Recipes" asp-action="ShowRecipes">Show My Recipes</a>*@