@model KTR.Models.Recipes


@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="flextop">Delete Recipe:  @Html.DisplayFor(model => model.RecipeName)</h2>

<h3>
    Are you sure you want to delete the recipe "@Html.DisplayFor(model => model.RecipeName)"?
    <br />
    You cannot undo this action.
</h3>
<div class="col-md-12">
    Note: You must delete any ingredients and instructios associated with the recipe prior to deleting the recipe. 
</div>
<div>
    @*<h4>Recipes</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecipeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecipeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Servings)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Servings)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatName.CatName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MainId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MainName.MainName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusName.StatusName) 
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User) Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RecipeId" />
        <input type="submit" value="Delete" class="btn btn-danger HomeText" /> 
        <a asp-action="ShowRecipes"  class="btn btn-info HomeText">Back to List</a>
    </form>
</div>
