@model KTR.Models.Recipes
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> userManager


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="flextop"> @Html.DisplayFor(model => model.RecipeName)</h2>

<hr />
<div>
    <h4>Recipe Details</h4>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhotoPath)
        </dt>
        <dd>
            <img src="/FoodPhotos/@Html.DisplayFor(model => model.PhotoPath)" width="75" heigth="75" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecipeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Servings)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Servings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryId)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MainId)
        </dd>


        @*<dt>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastUpdated)
            </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User) Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>



    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RecipeId">Edit</a> |
    <a asp-controller="Ingredients" asp-action="ShowIngredients" asp-route-id="@Model.RecipeId">View Ingredient List</a> |
    <a asp-controller="Preparation" asp-action="MyPrep" asp-route-id="@Model.RecipeId"> View Recipe Instructions</a> |
    <a asp-action="ShowRecipes">Back to My Recipe List</a>
</div>
