@model KTR.Models.Recipes
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> userManager


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="flextop"> @Html.DisplayFor(model => model.RecipeName)</h2>

<hr />
<div>
    <h4>Recipe Details</h4>
    <a asp-action="Edit" asp-route-id="@Model.RecipeId">Edit Recipe Details</a>

    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.PhotoPath)*@
        </dt>
        <dd>
            <img src="/FoodPhotos/@Html.DisplayFor(model => model.PhotoPath)"  width="125" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecipeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servings)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Servings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatName.CatName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MainName.MainName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusName.StatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            <!--  @Html.DisplayNameFor(model => model.LastUpdated) --> Last Updated
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
               

    </dl>
</div>
<div>

    <a class="btn btn-info HomeText" asp-controller="Ingredients" asp-action="ShowIngredients" asp-route-id="@Model.RecipeId">View Ingredient List</a>
    <a class="btn btn-info HomeText" asp-controller="Preparation" asp-action="MyPrep" asp-route-id="@Model.RecipeId"> View Recipe Instructions  </a>
    <br /><br />
    <a asp-action="ShowRecipes">Back to My Recipe List</a>

</div>
